In [1]:
import pandas as pd

# Replace 'your_file.csv' with the actual CSV file path
file_path = 'user_data.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Display the DataFrame
df.head()

,name,age,streetNumber,streetName,city,zipCode,phoneNumber
0,jean-marc,48,17315,19thy street,vancouver,98683,3609149468
1,Deline Stephen,66,17315,19th street,Vancouver,98683,3609849073